$font-main: 'Inter', sans-serif;
$font-title: 'Jura', sans-serif;

$text-primary: #1E1E1E;
$text-secondary: #1F2937; 
$text-hover: #2581EB; 
$text-important: #FF6C2D;
$text-input-placeholder: #F1F1F1;

$primary-initial: #EAB308;
$primary-hover:   #FEC71C;
$primary-pressed: #CC9500;
$primary-text:    #FFFFFF; 

$secondary-initial: #2581EB;
$secondary-hover:   #439FFF;
$secondary-pressed: #0763CD;
$secondary-text:    #FFFFFF;

$white: #ffffff;
$black: #000000;
$yellow: #FFDD55;
$border-light: #F1F1F1;
$arrow-initial: #201F29;
$icon-initial: #6B7280;

$error-color: #FF6C2D;
